.fish-form.section {
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        width: fit-content;
        .row {
            justify-content: space-between;
            display: flex;
            gap: 25px;
        }
    }
}