.fishdex-overview {
    .container {
        .card-wrap {
            column-count: 4;
            display: flex;
            .fishdex-entry:hover {
                img {
                    scale: 1.1;
                }
            }
            .fishdex-entry {
                display: flex;
                transition-duration: var(--animation-duration);
                flex-direction: column;

                .img-wrap {
                    max-width: 100%;
                    object-fit: contain;
                    overflow: hidden;
                    img {
                        max-width: 250px;
                        height: auto;
                    }
                }
            }
        }
    }

}