.fishdex-overview {
    .container {
        .row {
            .text-wrap {
                .description {
                    margin-left: 10%;
                    padding: 40px 0;
                }
            }
        }
        .card-wrap {
            column-count: 4;
            flex-wrap: wrap;
            display: flex;
            justify-content: start;
            gap: 70px;
            .fishdex-entry:hover {
                img {
                    scale: 1.1;
                }
            }
            .fishdex-entry {
                display: flex;
                transition-duration: var(--animation-duration);
                flex-direction: column;
                .text-wrap {
                    justify-content: center;
                    display: flex;
                    text-align: center;
                }
                .img-wrap {
                    max-width: 100%;
                    overflow: hidden;
                    border-radius: 5px;
                    img {
                        max-width: 200px;
                        height: 200px;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

}