.footer {
    display: flex;
    height: 56px;
    width: 100%;
    justify-content: center;
    background-color: #0d5977;
    color: white;

    .container {
        background: unset;
        padding: 0 5%;
    }

    ul {
        list-style: none;
        justify-content: center;
        gap: 50px;
        display: flex;
        flex-direction: row;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
