.footer {
  display: flex;
  height: 56px;
  justify-content: center;
  background-color: #0d5977;
  color: white;

  ul {
    list-style: none;
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-direction: row;
  }
}
