.header {
    max-height: 119px;
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .logo {
            img {
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }
        .menu {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 55px;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}