.main_container {
  display: flex;
  background-color: red;
  justify-content: center;
}

.inner_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  height: fit-content;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}
