@import 'header.css';
@import 'varibles.css';
@import 'footer.css';
@import 'fishdex-overview.css';
@import 'add-fish-form.css';
@import "404.css";
@import "catchForm.css";

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  height: 100vh;
}

.container {
  max-width: 1024px;
  padding: 0 5%;
  margin: auto;
}

.section {
  padding-top: 30px;
}
